@font-face {
   font-family: "open sans";
   src:url(../fonts/OpenSans-Regular.woff) format('woff'),
	    url(../fonts/OpenSans-Regular.woff2) format('woff2'),
	    url(../fonts/OpenSans-Regular.ttf) format('ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
	font-family: "open sans";
	src: url(../fonts/OpenSans-Bold.woff) format('woff'),
	     url(../fonts/OpenSans-Bold.woff2) format('woff2'),
	     url(../fonts/OpenSans-Bold.ttf) format('ttf');
	font-weight: 700;
}

body {
   margin: 0;
   font-family: "Open Sans";
}

a {
	text-decoration: none;
}

.header {
   width: 100%;
	min-height: 100vh;
    
	background-image: url(../image/football_767.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
   background-size: cover;
	background-color: #444444;

	display: flex;
   position: relative;
   justify-content: center;
}

.header::after {	
   content: "";
   width: 100%;
   min-height: 100vh;
   box-sizing: border-box;
   position: absolute;
   background-color: #0a0e34;
   opacity: 0.9;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0; 
}

.header_container {
   position: relative;
   z-index: 1;
   color: #ffffff;
}

.logo {
	width: 134px;
	margin: auto;
	margin-top: 32px; 
	fill: #ffffff;
}

.welcome {
	margin-block-start: 0;
	margin-block-end: 0;

	margin-top: 135px;
	justify-content: center;
}

.welcome_title {
	margin-block-start: 0;
   margin-block-end: 0;
   margin-bottom:-17px;
   
   display: flex;
	flex-wrap: wrap;
   font-size: 28px;
   font-weight: bold;
 
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-left: 20px;
}

.welcome_title:last-child {
   margin-left: 65px;
   margin-top: 31px;
}

.socials_articles {
	width: 260px;
	margin: 88px auto 88px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.socials_items {
	width: 260px;
	height: 34px;
	margin: auto;

	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;

	border: 1px solid #5e42b0;
	border-radius: 50px;
	background-color: #5e42b0;
	
	align-items: center;
}

.socials_items:last-child {
	margin-top: 13px;
}

.icon{
	margin-left: 85px;
	width: 25px;
	height: 25px;
	fill: #ffffff;
}

.socials-item {
	display:block;
	width:auto;
   height:auto;
	margin-left: 10px;
	font-size: 8px;
   color: #ffffff;
   font-weight: bold;
   text-transform: uppercase;
   font-style: normal;
}

.socials-item-link:first-child {
	font-weight: normal;
}


.footer {
   width: 100%;
	min-height: 100vh;  
    
	background-image: url(../image/game_767.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
   background-size: cover;
	background-color: #444444;

	display: flex;
   position: relative;
   justify-content: center;
}

.footer::after {	
   content: "";
   width: 100%;
   min-height: 100vh;
   box-sizing: border-box;
   position: absolute;
   background-color: #0a0e34;
   opacity: 0.9;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0; 
}

.footer_container {
   position: relative;
   z-index: 1;
   color: #ffffff;
}

.footer_container_logo {
	width: 75px;
	height: 75px;
	margin: 98px auto 0;

	border: 1px solid #5e42b0;
	border-radius: 8px;
	background-color: #5e42b0;
	display: flex;
}

.footer_logo {
	width: 56px;
	height: 48px;
	margin: auto;
	fill: #ffffff;
	justify-content: center;
	align-items: center;
}

.footer_titles {
	width: 280px;
	margin: 56px auto 0;
	font-size: 14px;
}

.footer_title {
	text-align: center;	
	font-weight: normal;
	text-transform: uppercase;
	color: #a496ca;
}

.footer_title:first-child {
	font-size: 32px;
   font-weight: bold;color: #ffffff;
}

.footer_socials_articles {
	width: 260px;
	margin: 70px auto 0;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.logo:last-child {
	margin-top: 72px;
}

@media (min-width: 641px) {
   .header {
   	background-image: url(../image/football_1280.jpg);
   }

	.logo {
	   width: 205px;
	   margin-top: 38px; 
   }

   .welcome {
		margin-top: 180px;
   }

   .welcome_title {
   	font-size: 64px;
   	letter-spacing: 3px;
   	margin-left: 90px;
   }

   .welcome_title:last-child {
   	margin-left: 195px;
   }

	.footer_container_logo {
		width: 130px;
		height: 136px;
		margin: 125px auto 0;
		border-radius: 30px;
   }

   .footer_logo {
		width: 102px;
		height: 86px;
	}

	.footer_titles {
		width: 710px;
		margin: 82px auto 0;
		font-size: 36px;
	}

   .footer_title:first-child {
		font-size: 80px;
	   letter-spacing: 4px; 
	}


   .footer_socials_articles {
   	width: 650px;
		margin-top: 290px;
		flex-wrap: nowrap;
	}

	.logo:last-child {
		margin-top: 55px;
	}
}

@media  (min-width: 670px) {
	.socials_articles {
	   	width: 650px;
	   	margin-top: 310px;
	   }

	   .socials_items {
			width: 310px;
			height: 80px;
			align-items: center;	
			justify-content: center;
		}

		.socials_items:last-child {
			margin-top: 0px;
			margin-left: 30px; 
		}

		.icon{
			margin-top:0;
	      margin-left:0;
			width: 50px;
			height: 50px;
			line-height: 80px;
		}

		.socials-item {
			display:block;
			width:auto;
	      height:auto;
			margin-left: 26px;
			font-size: 14px;
			letter-spacing: 1px;
		}
}

@media (min-width: 961px) {
	.logo {
	   width: 193px;
	   margin-top: 45px; 
   }

   .header {
   	background-image: url(../image/football_1920.jpg);
   }

   .welcome {
		margin-top: 290px;
		margin-left: 0;
   }

   .welcome_title {
   	font-size: 90px;
		letter-spacing: 4px;
		margin-bottom:-67px;
   }

   .welcome_title:last-child {
   	margin-left: 450px;
   }

   .socials_articles {
   	width: 680px;
   	margin-top: 220px;
   	margin-bottom: 105px;
   }

	.socials_items:last-child {
		margin-left: 50px; 
	}

   .socials-item-link:first-child {
   	margin-top:0px;
   }

   .footer_wrapper{
   	width: 870px;
		margin-top: 228px;
		display: flex;
		flex-wrap: nowrap;
		box-sizing: border-box;
	}

	.footer_container_logo {
		width: 132px;
		height: 138px;
		margin: 0;
   }

   .footer_titles {
		width: 730px;
		margin: 0 0 0 30px;
		font-size: 30px;
	}

   .footer_title {
   	text-align: left;
   }

   .footer_title:first-child {
		margin-bottom: -15px;
	}

	.footer_socials_articles {
		margin-top: 150px;
	}

	.logo:last-child {
		margin-top: 260px;
	}
}


.holder {
	width: 100%;	
}

.sections_container {
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.section_title {
	margin-block-start: 0;
	margin-block-end: 0;
	width: 280px;
	font-size: 50px;
	color: #e7e7e7;
   font-weight: bold;
   margin-top: 25px;
}

.section_images {
	position: absolute;
	top: 100px;
}

.container_item {
	padding-inline-start: 0;
	margin-block-start: 0;
   margin-block-end: 0;
	list-style-type: none;
	padding-top: 230px;
}

.container_item_link {
   min-height: 213px;
   background-color: #fafafa;
}

.container_item_link:nth-child(even) {
   background-color: #f5f4f9;
}

.container_item_link:nth-child(2n+3) {
   background-color: #5e42b0;
}


.container_title {
	margin-left: 20px;
	padding-top: 60px;
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
	align-content: flex-start;
}

.container_number {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 25px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

.container_number::after {
  content: "";
  display: block;
  width: 17px;
  height: 4px;
  margin-top: -4px;
  border-radius: 1px;
  background-color: #5e42b0;
}

.container_item_link:nth-child(2n+3) .container_number::after {
 background-color:#ffffff;
}

.container_title_item {
   margin-left: 10px;
	font-size: 23px;
	letter-spacing: 1px;
	color: #c1c1c1;
	font-weight: bold;
	text-transform: uppercase;
}

.container_news {
	margin-left: 20px;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-top: 25px;
	padding-bottom: 55px;
	line-height: 18px;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 18px;
	color: #000000;
}