@font-face {
   font-family: "open sans";
   src:url(../fonts/OpenSans-Regular.woff) format('woff'),
	    url(../fonts/OpenSans-Regular.woff2) format('woff2'),
	    url(../fonts/OpenSans-Regular.ttf) format('ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
	font-family: "open sans";
	src: url(../fonts/OpenSans-Bold.woff) format('woff'),
	     url(../fonts/OpenSans-Bold.woff2) format('woff2'),
	     url(../fonts/OpenSans-Bold.ttf) format('ttf');
	font-weight: 700;
}

body {
	min-width: 320px;
   margin: 0;
   padding: 0;
   font-family: "Open Sans";
   display: block;
   box-sizing: border-box;
   -o-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}

a {
	text-decoration: none;
}

.activity img {
   max-width: 100%
   }

.header {
   width: 100%;
	min-height: 100vh;
    
	background-image: url(../image/football_767.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
   background-size: cover;
	background-color: #444444;

	display: flex;
   position: relative;
   justify-content: center;
}

.header::after {	
   content: "";
   width: 100%;
   min-height: 100vh;
   box-sizing: border-box;
   position: absolute;
   background-color: #0a0e34;
   opacity: 0.9;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0; 
}

.header_container {
   position: relative;
   z-index: 1;
   color: #ffffff;
}

.logo {
	width: 134px;
	margin: auto;
	margin-top: 32px; 
	fill: #ffffff;
}

.welcome {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-top: 135px;
	justify-content: center;
}

.welcome_title {
	margin-block-start: 0;
   margin-block-end: 0;
   margin-left: 20px;
   margin-bottom:-17px;
   
   display: flex;
	flex-wrap: wrap;

   font-size: 28px;
   letter-spacing: 1px;

   font-weight: bold;
   text-transform: uppercase;
}

.welcome_title:last-child {
   margin-left: 65px;
   margin-top: 31px;
}

.socials_articles {
	width: 260px;
	margin: 88px auto 88px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.socials_items {
	width: 260px;
	height: 34px;
	margin: auto;

	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;

	border: 1px solid #5e42b0;
	border-radius: 50px;
	background-color: #5e42b0;
	
	align-items: center;
}

.socials_items:last-child {
	margin-top: 13px;
}

.icon{
	margin-left: 85px;
	width: 25px;
	height: 25px;
	fill: #ffffff;
}

.socials-item {
	display:block;
	width:auto;
   height:auto;
	margin-left: 10px;
	font-size: 8px;
   color: #ffffff;
   font-weight: bold;
   text-transform: uppercase;
   font-style: normal;
}

.socials-item-link:first-child {
	font-weight: normal;
}

section {
	position: relative;
}

.section_title {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-top: 10px;
	margin-left: 7vw;
	font-size: 50px;
	color: #e7e7e7;
   font-weight: bold; 
}

.athlets .section_image {
   position: absolute;
   left: 60px;
}

.players .section_image {
   position: absolute;
   left: 20px;
}

.container_item {
	padding-inline-start: 0;
	margin-block-start: 0;
   margin-block-end: 0;
	list-style-type: none;
	padding-top: 220px; 
}

.container_item_link {
	width: 100%;
   min-height: 213px;
   background-color: #fafafa;
}

.container_item_link:nth-child(even) {
   background-color: #f5f4f9;
}

.container_item_link:nth-child(2n+3) {
   background-color: #5e42b0;
}

.container_title {
	padding-left: 7vw;
	padding-top: 60px;
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
	align-content: flex-start;
}

.container_number {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 25px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

.container_number::after {
	content: "";
	display: block;
	width: 17px;
	height: 4px;
	margin-top: -4px;
	border-radius: 1px;
	background-color: #5e42b0;
}

.container_item_link:nth-child(2n+3) .container_number::after {
   background-color:#ffffff;
}

.container_title_item {
   margin-left: 10px;
	font-size: 23px;
	letter-spacing: 1px;
	color: #c1c1c1;
	font-weight: bold;
	text-transform: uppercase;
}

.container_news {
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 20px 7vw;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 18px;
}

.image_box {
	position: relative;
}

.image-wrapper {
	min-height: 300px;
}

.image_box_number {
	width: 70px;
   height: 70px;
   background-color: #5e42b0;
   display: flex;
	flex-wrap: nowrap;
   position: absolute;
   bottom: -10px;
   left: 7vw;
} 

.image_number {
	margin: auto;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 34px;
	color: #f5f6f7;
	font-weight: bold;
}

.image_number::after {
   content: "";
   display: block;
	width: 15px;
	height: 4px;
	border-radius: 1px;
	background-color: #ffffff;
	margin-top: -6px;
	opacity: 30%;
}

.article-content {
   padding-top: 35px;
   padding-bottom: 75px;
}

.article-title {
	margin: 0;
	padding-right: 20px;
	padding-left: 7vw;
   padding-bottom: 25px;
   font-size: 28px;
	line-height: 34px;	
	color: #e7e7e7;
	font-weight: bold;
	text-transform: uppercase;
}

.article-description {
	margin: 0;
	padding-right: 20px;
	padding-left: 7vw;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 20px;
}

.footer {
   width: 100%;
	min-height: 100vh;   
	background-image: url(../image/game_767.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
   background-size: cover;
	background-color: #444444;
	display: flex;
   position: relative;
   justify-content: center;
}

.footer::after {	
   content: "";
   width: 100%;
   min-height: 100vh;
   box-sizing: border-box;
   position: absolute;
   background-color: #0a0e34;
   opacity: 0.9;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0; 
}

.footer_container {
   position: relative;
   z-index: 1;
   color: #ffffff;
}

.footer_container_logo {
	width: 75px;
	height: 75px;
	margin: 98px auto 0;
	border: 1px solid #5e42b0;
	border-radius: 8px;
	background-color: #5e42b0;
	display: flex;
}

.footer_logo {
	width: 56px;
	height: 48px;
	margin: auto;
	fill: #ffffff;
	justify-content: center;
	align-items: center;
}

.footer_titles {
	margin: 56px auto 0;
	font-size: 4.5vw;
}

.footer_title {
	text-align: center;	
	font-weight: normal;
	text-transform: uppercase;
	color: #a496ca;
}

.footer_title:first-child {
	font-size: 10vw;
   font-weight: bold;
   color: #ffffff;
}

.footer_socials_articles {
	width: 260px;
	margin: 70px auto 0;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.logo:last-child {
	margin-top: 72px;
	margin-bottom: 10px;
}


@media (min-width: 641px) {
	.athlets img, .players img {
   	width: auto;
   	height: 100%;
   }

   .players .section_image {
		right: 0;
		left: auto;
		overflow-x: hidden;
		top: -40px;
	}

   .header {
   	background-image: url(../image/football_1280.jpg);
   }

	.logo {
	   width: 205px;
	   margin-top: 38px; 
   }

   .welcome {
		margin-top: 180px;
	}

   .welcome_title {
	   font-size: 64px;
	   letter-spacing: 3px;
	   margin-left: 90px;
   }

   .welcome_title:last-child {
	   margin-left: 195px;
   }

   .socials_articles {
		width: 650px;
		margin-top: 310px;
	}

	.socials_items:last-child {
		margin-top: 0px;
	}
 
	.section_title {
		margin-top: 40px;
		margin-left: 38vw;
		font-size: 10vw;  
	}

	.players .section_title {
		margin-left: 4.5vw;
	}

	.athlets .section_image {
		left: -200px;
    	top: 20px;
   } 	

	.container_item {
		padding-top: 0px;
	}

	.container_title {
		padding-left: 38vw;
		padding-top: 35px;
	}

	.players .container_title {
		padding-left: 4.5vw;
	}

	.container_number {
		font-size: 18px;
		letter-spacing: 1px;
		line-height: 34px;
	}

	.container_number::after {
		width: 19px;
		height: 5px;
	}

	.container_title_item {
	   margin-left: 10px;
		font-size: 32px;
		letter-spacing: 2px;	
	}

	.container_news {
		width: 55vw;
		padding: 30px 40px 30px 38vw;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 18px;
	}

	.players .container_news {
		padding-left: 4.5vw;
	}

	.image_box_number {
	   width: 116px;
	   height: 116px;
	   bottom: -30px;
	   left: 4.5vw;
	} 

	.image_number {
		font-size: 24px;
	}

	.image_number::after {
		width: 25px;
		height: 5px;
		margin-top: 0;
	}

	.article-content {
   	padding-top: 95px;
   	padding-bottom: 95px;
	}

	.article-title {
		padding-right: 4.5vw;
		padding-left: 4.5vw;
	   padding-bottom: 35px;
	   font-size: 10vw;
		line-height: 60px;	
	}

	.article-description {
		padding-right: 4.5vw;
		padding-left: 4.5vw;
		font-size: 24px;
		line-height: 28px;
	}

   .footer_socials_articles {
   	width: 650px;
		margin-top: 290px;
	}

      
	.footer_container_logo {
		width: 130px;
		height: 136px;
		margin: 125px auto 0;
		border-radius: 30px;
   }

   .footer_logo {
		width: 102px;
		height: 86px;
	}

	.logo:last-child {
		margin-top: 55px;
		margin-bottom: 25px;
	}
}

@media (min-width: 670px) {
	.socials_items {
		width: 310px;
		height: 80px;
		align-items: center;	
		justify-content: center;
	}

	.icon {
		margin-top:0;
		margin-left:0;
		width: 50px;
		height: 50px;
		line-height: 80px;
	}

	.socials-item {
		display:block;
		width:auto;
		height:auto;
		margin-left: 26px;
		font-size: 14px;
		letter-spacing: 1px;
	}
}

@media (min-width: 961px) {

	.logo {
	   width: 193px;
	   margin-top: 45px; 
	}

   .header {
   	background-image: url(../image/football_1920.jpg);
   }

   .welcome {
		margin-top: 290px;
		margin-left: 0;
   }

   .welcome_title {
   	font-size: 90px;
		letter-spacing: 4px;
		margin-bottom:-67px;
   }

   .welcome_title:last-child {
   	margin-left: 450px;
   }

   .socials_articles {
		width: 750px;
	}

	.socials_items {
		margin-right: 12px;
	}

	.socials_items:last-child {
		margin-right: 12px;
	}

   .section_title {
		margin-top: 80px;
		margin-left: 55vw;
		font-size: 80px;
	}
		
	/*
	отменила правило для 641
	картинка в absolute ориентируется справа 
	% для изменения положения при расширении экрана
	*/
	.athlets .section_image {
    	left: 0px;
		width: 50%;
		text-align: right;
	}

	.players .section_image {
		right: 0;
		overflow-x: hidden;
		width: 50%;
		text-align: left;
	}

	.container_title {
		padding-left: 55vw;
		padding-top: 80px;
		font-size: 36px;
		letter-spacing: 2px;
		line-height: 34px;
	}

	.container_number::after {
		width: 19px;
		height: 5px;
	}	

	.container_news {
		width: 36vw;
		padding-top: 30px;
		padding-left: 55vw;
		font-size: 1.25vw;
		line-height: 1.4vw;
		letter-spacing: 1px;
	}

   .activity {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: hidden;
   }

	.activity:nth-child(2n) {
     flex-direction: row-reverse;
   }

   

   .image_box_number {
	   width: 8.75vw;
	   height: 8.56vw;
	   bottom: 0;
	   top: 30%;
	   left: 45vw;
	} 

	.activity:nth-child(2n) .image_box_number {
		left: -60px;
	}

   .image_number {
		font-size: 24px;
	}

	.image_number::after {
		width: 24px;
		height: 5px;
		border-radius: 2px;
	}

	.article-content {
   	padding-top: 13vw;
   	padding-bottom: 0;
	}

	.article-title {
		padding-right: 9vw;
		padding-left: 6.77vw;
	   padding-bottom: 5.5vw;
	   font-size: 4.17vw;
	}

	.article-description {
		padding-right: 9vw;
		padding-left: 6.77vw;
		font-size: 1.25vw;
		line-height: 1.4vw;
		letter-spacing: 1px;
	}

   .footer_wrapper{
   	width: 870px;
		margin-top: 228px;
		display: flex;
		flex-wrap: nowrap;
		box-sizing: border-box;
	}

	.footer_container_logo {
		width: 130px;
		height: 135px;
		margin: 0;
   }

   .footer_titles {
		width: 730px;
		margin: 0 0 0 30px;
		font-size: 30px;
	}

   .footer_title {
   	text-align: left;
   }

   .footer_title:first-child {
   	margin-top: 15px; 
   	margin-bottom: 15px;
		font-size: 80px;
		letter-spacing: 4px;
		line-height: 60px;
	}

	.footer_socials_articles {
		width: 750px;
		margin-top: 150px;
	}

	.logo:last-child {
		margin-top: 260px;
		margin-bottom: 50px;
   }
}



